<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="appName" source="spring.application.name"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>v${version} %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <shortenedLoggerNameLength>36</shortenedLoggerNameLength>
            <customFields>{"appName":"\${appName}","appVersion":"${version}"}</customFields>
        </encoder>
    </appender>

    <!-- When running in "default" profile we turn on DEBUG for Kronicle code and only log to CONSOLE -->
    <springProfile name="default">
        <logger name="tech.kronicle" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="docker-compose">
        <!-- Suppress false negative warning when attempting to parse JSON or YAML files that are not OpenAPI specs -->
        <logger name="io.swagger.v3.parser.OpenAPIV3Parser" level="ERROR"/>
        <logger name="tech.kronicle.service.repofinders" level="INFO"/>
        <logger name="tech.kronicle.service.repositories.ComponentRepository" level="INFO"/>

        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!default &amp; !docker-compose">
        <logger name="tech.kronicle.service.repofinders.github.GitHubRepoFinder" level="INFO"/>
        <logger name="tech.kronicle.service.repositories.ComponentRepository" level="INFO"/>
        <logger name="tech.kronicle.service.services.ScanEngine" level="INFO"/>
        <logger name="tech.kronicle.service.services.TestEngine" level="INFO"/>
        <logger name="tech.kronicle.service.scanners.zipkin.ZipkinService" level="INFO"/>

        <root level="WARN">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>
</configuration>
