name: Publish JARs and Docker images

on:
  release:
    types: [created]

jobs:

  publish:
    runs-on: ubuntu-latest
    environment: publish
    permissions:
      packages: write
      contents: read

    steps:
      - name: Get version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\/v/}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@6af3c118c8376c675363897acf1757f7a9be6583
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Docker images to GitHub Container Registry
        run: |
          docker pull ghcr.io/kronicle-tech/kronicle-app:${{ steps.get_version.outputs.VERSION }}-pre-release
          docker tag ghcr.io/kronicle-tech/kronicle-app:${{ steps.get_version.outputs.VERSION }}-pre-release ghcr.io/kronicle-tech/kronicle-app:${{ steps.get_version.outputs.VERSION }}
          docker push ghcr.io/kronicle-tech/kronicle-app:${{ steps.get_version.outputs.VERSION }}
          
          docker pull ghcr.io/kronicle-tech/kronicle-service:${{ steps.get_version.outputs.VERSION }}-pre-release
          docker tag ghcr.io/kronicle-tech/kronicle-service:${{ steps.get_version.outputs.VERSION }}-pre-release ghcr.io/kronicle-tech/kronicle-service:${{ steps.get_version.outputs.VERSION }}
          docker push ghcr.io/kronicle-tech/kronicle-service:${{ steps.get_version.outputs.VERSION }}

      - name: Checkout kronicle-argocd-config repo
        uses: actions/checkout@v2
        with:
          repository: kronicle-tech/kronicle-argocd-config
          token: ${{ secrets.DEPLOY_GITHUB_TOKEN }}
          path: kronicle-argocd-config

      - name: Set image tags in kronicle-argocd-config
        run: |
          sed -i -r "s/version: [0-9]+\.[0-9]+\.[0-9]+/version: ${{ steps.get_version.outputs.VERSION }}/g" kronicle/values.yaml
          sed -i -r "s/version: [0-9]+\.[0-9]+\.[0-9]+/version: ${{ steps.get_version.outputs.VERSION }}/g" kronicle-empty/values.yaml
        working-directory: kronicle-argocd-config

      - name: Commit and push change to kronicle-argocd-config
        run: |
          git config user.email "deploy@kronicle.tech"
          git config user.name "Kronicle Deploy"
          git add kronicle/values.yaml kronicle-empty/values.yaml
          git commit --allow-empty -m "Set Kronicle app and service image tags to v${{ steps.get_version.outputs.VERSION }}"
          git push
        working-directory: kronicle-argocd-config

      - name: Checkout kronicle-docker-compose repo
        uses: actions/checkout@v2
        with:
          repository: kronicle-tech/kronicle-docker-compose
          token: ${{ secrets.DEPLOY_GITHUB_TOKEN }}
          path: kronicle-docker-compose

      - name: Set image tags in kronicle-docker-compose
        run: |
          sed -i "s#kronicle-app:[0-9]*\.[0-9]*\.[0-9]*\(-pre-release\)*#kronicle-app:${{ steps.get_version.outputs.VERSION }}#g" docker-compose.yaml
          sed -i "s#kronicle-service:[0-9]*\.[0-9]*\.[0-9]*\(-pre-release\)*#kronicle-service:${{ steps.get_version.outputs.VERSION }}#g" docker-compose.yaml
        working-directory: kronicle-docker-compose

      - name: Commit and push change to kronicle-docker-compose
        run: |
          git config user.email "deploy@kronicle.tech"
          git config user.name "Kronicle Deploy"
          git add docker-compose.yaml
          git commit --allow-empty -m "Set Kronicle app and service image tags to v${{ steps.get_version.outputs.VERSION }}"
          git push
        working-directory: kronicle-docker-compose

#      - name: Checkout kronicle-metadata-repo-template repo
#        uses: actions/checkout@v2
#        with:
#          repository: kronicle-tech/kronicle-metadata-repo-template
#          token: ${{ secrets.DEPLOY_GITHUB_TOKEN }}
#          path: kronicle-metadata-repo-template
#
#      - name: Set image tags in kronicle-metadata-repo-template
#        run: |
#          sed -i -r "s/kronicleVersion=[0-9]*\.[0-9]*\.[0-9]*/kronicleVersion=${{ steps.get_version.outputs.VERSION }}/g" gradle.properties
#        working-directory: kronicle-metadata-repo-template
#
#      - name: Commit and push change to kronicle-metadata-repo-template
#        run: |
#          git config user.email "deploy@kronicle.tech"
#          git config user.name "Kronicle Deploy"
#          git add gradle.properties
#          git commit --allow-empty -m "Set Kronicle Metadata library version to v${{ steps.get_version.outputs.VERSION }}"
#          git push
#        working-directory: kronicle-metadata-repo-template
#
#      - name: Checkout kronicle-metadata-codebase-template repo
#        uses: actions/checkout@v2
#        with:
#          repository: kronicle-tech/kronicle-metadata-codebase-template
#          token: ${{ secrets.DEPLOY_GITHUB_TOKEN }}
#          path: kronicle-metadata-codebase-template
#
#      - name: Set image tags in kronicle-metadata-codebase-template
#        run: |
#          sed -i -r "s/kronicleVersion=[0-9]*\.[0-9]*\.[0-9]*/kronicleVersion=${{ steps.get_version.outputs.VERSION }}/g" gradle.properties
#        working-directory: kronicle-metadata-codebase-template
#
#      - name: Commit and push change to kronicle-metadata-codebase-template
#        run: |
#          git config user.email "deploy@kronicle.tech"
#          git config user.name "Kronicle Deploy"
#          git add gradle.properties
#          git commit --allow-empty -m "Set Kronicle Metadata library version to v${{ steps.get_version.outputs.VERSION }}"
#          git push
#        working-directory: kronicle-metadata-codebase-template

      - name: Log in to Amazon ECR Public
        uses: docker/login-action@6af3c118c8376c675363897acf1757f7a9be6583
        with:
          registry: public.ecr.aws
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}

      - name: Push Docker images to Amazon ECR Public
        run: |
          docker pull ghcr.io/kronicle-tech/kronicle-app:${{ steps.get_version.outputs.VERSION }}
          docker tag ghcr.io/kronicle-tech/kronicle-app:${{ steps.get_version.outputs.VERSION }} ${{ secrets.AMAZON_ECR_REGISTRY }}/kronicle-app:${{ steps.get_version.outputs.VERSION }}
          docker push ${{ secrets.AMAZON_ECR_REGISTRY }}/kronicle-app:${{ steps.get_version.outputs.VERSION }}
          
          docker pull ghcr.io/kronicle-tech/kronicle-service:${{ steps.get_version.outputs.VERSION }}
          docker tag ghcr.io/kronicle-tech/kronicle-service:${{ steps.get_version.outputs.VERSION }} ${{ secrets.AMAZON_ECR_REGISTRY }}/kronicle-service:${{ steps.get_version.outputs.VERSION }}
          docker push ${{ secrets.AMAZON_ECR_REGISTRY }}/kronicle-service:${{ steps.get_version.outputs.VERSION }}
